device/.flows.json.backup
[{"id":"6c54b186.09e89","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"f0c73ac7.833f08","type":"serial-port","z":"","serialport":"/dev/tty.wchusbserial14410","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"4b9d77ff.8107e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"659a0d04.578e84","type":"serial in","z":"6c54b186.09e89","name":"","serial":"f0c73ac7.833f08","x":290,"y":100,"wires":[["20bb15ea.83e27a"]]},{"id":"20bb15ea.83e27a","type":"function","z":"6c54b186.09e89","name":"筛选orderId","func":"orderIdAndOpenId = msg.payload;\norderId = orderIdAndOpenId.split('&')[0];\nif(orderId.length!=20) return;\nopenId = orderIdAndOpenId.split('&')[1];\nopenId = openId.substring(0, 28)\nmsg.payload = orderId.length;\nreq = {\n    orderId,\n    openId\n};\nmsg.payload = req;\nmsg.header = {\n    ContentType: 'application/json'\n}\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["b6f282fc.e1ff3"]]},{"id":"b6f282fc.e1ff3","type":"http request","z":"6c54b186.09e89","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8080/consumer/order/detail","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":100,"wires":[["70247454.c4311c","5269ea8b.68e394"]]},{"id":"70247454.c4311c","type":"json","z":"6c54b186.09e89","name":"","property":"payload","action":"","pretty":false,"x":870,"y":100,"wires":[["48dff398.3ba7dc"]]},{"id":"48dff398.3ba7dc","type":"uibuilder","z":"6c54b186.09e89","name":"","topic":"","url":"eyao","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"copyIndex":true,"showfolder":false,"x":1010,"y":100,"wires":[[],[]]},{"id":"5269ea8b.68e394","type":"debug","z":"6c54b186.09e89","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":180,"wires":[]}]